@import url("https://use.typekit.net/jie5nhr.css");
@import url("https://use.typekit.net/klb5zdw.css");
@import url('~lucide-static/font/Lucide.css');

* 
    {
        box-sizing: border-box;
    }

body 
    {
        font-family: proxima-nova, sans-serif;
        margin: 0;
        padding: 0;
    }

h1, h2, h3, h4, h5, h6 
    {
        font-family: lemonde-journal, sans-serif;
    }



/* Navigation Bar */
.navbar 
    {
        background-color: purple;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        text-align: center;
        height: 55px;
    }


.navbar ul 
    {
        list-style-type: none;
        position: relative;
        top: 0px;
        margin: 0;
        padding:0;
        background-color: #315098;
        font-size: 16px;
    }

.navbar li 
    {
        display: inline-block;
    }

.navbar li a 
    {
        color: #fff;
        display: block;
        padding: 20px 30px;
        text-decoration: none;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
    }

.navbar li a:hover 
    {
        color: #fff!important;
        background-color: #8CA8BE;
    }

.navbar ul ul 
    {
        position: absolute;
        top: 100%;
        display: none;
    }

.navbar ul ul li 
    {
        display: block;
        width: 147px;
    }

.navbar li:hover ul 
    {
        display: block;
        text-decoration: none;
    }

.navbar ul ul li a:hover 
    {
        background-color: #8CA8BE;
        text-decoration: none; 
    }

.drop 
    {
        background: blue;
        width:120px;
        top:100%;
        right: 20px;
        padding:6px 0px;
        margin:10px -20px;
        z-index:10000000;
        display:none;
        text-align:center;
    }

.drop::before 
    {
        width:0;
        height:0;
        content:"";
        position:absolute;
        margin-left:-10px;
        top:-10px;
    }

.lucide 
    {
        color: #fff;
        width: 20px;
        height: 20px;
        stroke-width: 2px;
    }

searchbar 
    {
        position:absolute;
    }

input[type=email]
    {
        width: 200px;
        height: 28px;
        top: 0px; /* add this /
        left: 0px; / add this /
        position: absolute; / add this */
        background-color: #edede9;
        border: 0px;
        border-radius: 20px;
        font-family: proxima-nova;
        padding-left: 13px;
    }


      

/*Header*/
.homepagecontainer 
    {
        position: relative;
        text-align: left;
        color: #fff;
        height: 70vh;
        width: 100vw;
    }

.homepageimage
    {
        height: 80vh;
        width: 100%;
        object-fit: cover;
    }

.homepagetitle 
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6vw;
        font-weight: bold;
        font-family: lemonde-journal, sans-serif;
        z-index: 1;
        color: #BC002D;
    }

.homepagesubheading 
    {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.8vw;
        z-index: 1;
        color: #BC002D;
        border-radius: 10px;
    }



/*header slideshow*/
* 
    {
        box-sizing: border-box;
        max-height: 650px;
    }
    
.image-slideshow 
    {
        /*max-width: 1400px;*/
        width: 100%;
        position: relative;
        margin: auto;
     }
    
img 
    {
        width: 100%;
        object-fit: cover;
    }
    
.fade 
    {
        animation-name: fade;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    
@keyframes fade 
    {
        from {opacity: .8;}
        to {opacity: 1}
    }
    
.slideshowcap 
    {
        background-color: rgba(255,255,255,0.8);
        position: absolute;
        text-align: left;
        bottom: 100px;
        left:200px;
        padding: 8px 12px;
    }



/*slideshow button*/
.slidebutton 
{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    color:#fff!important;
    /*background-color:#000!important;*/
    transition: 0.6s ease;
}

.slidebutton:hover 
    {
        color: #000!important;
        background-color: #8ca8be!important;
    }

.sbleft
    {
        color:#fff!important;
        height: 30px!important;
        width: 30px!important;
        stroke-width: 4px!important;
    }

.sbright 
    {
        color:#fff!important;
        height: 30px!important;
        width: 30px!important;
        stroke-width: 4px!important;
    }

.prev, .next 
    {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
  
.next 
    {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
  
.prev:hover, .next:hover 
    {
        background-color: rgba(140,168,190,0.8);
    }

.nltext 
    {
        position:absolute;
    }



/*header slideshow title and caption*/
.st 
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6vw;
        font-weight: bold;
        font-family: lemonde-journal, sans-serif;
        z-index: 1;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 2em grey, 0 0 0.2em grey;
    }
    
.cap 
    {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.8vw;
        z-index: 1;
        color: white;
        border-radius: 10px;
        text-shadow: 1px 1px 2px black, 0 0 2em grey, 0 0 0.2em grey;
    }
    


/*next adventure*/
.homepagewhy 
    {
        overflow: hidden;
        position: relative;
        margin: auto;
        margin-top: 130px;
        font-size: 1.3vw;
        z-index: 2;
    }
    
.homepagewhycontent 
    {
        overflow: hidden;
    }
    
.homepagewhyimage 
    {
        float: right;
        border-radius: 20px;
        margin-left: .5vw;
        margin-top: 5vh;
    }

.homepagewhytext
    {
        float:left;
        margin: auto;
        width: 50%;
    }



/*History*/
.homepagehistory 
    {
        position: relative;
        margin: auto;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 90px;
        margin-bottom: 300px;
        font-size: 1.3vw;
        width: 80%;
        display: block;
        background-color: #fff;
        max-height: 1000px;
    }

.homepagehistorycontent 
    {
        overflow: visible;
        height: 1000px;
    }

.homepagehistoryimage 
    {
        max-height: 90vh;
        max-width: 45vw;
        border-radius: 20px;
    }

.homepagehistorytext 
    {
        float: right;
        width: 40%;
        margin-left: 30px;
        max-height: 1000px;
    }

.popcity 
    {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

.popcitysub 
    {
        font-size: 20px;
        margin-top: -10px;
    }



/*Gallery*/
.homepagegallery 
    {
        position: relative;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 100px;
        height: 400px;
        display: block;
        background-color: #fff;
    }

.homepagegalleryrow 
    {
        overflow: visible;
        display: flex;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 90px;
        height: 1500px;
        margin-bottom: 650px;
    }
      
.homepagegallerycolumn 
    {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
        height: 100vh;
    }
      
.homepagegallerycolumn img 
    {
        margin-top: 10px;
        vertical-align: middle;
        width: 100%;
        border-radius: 20px;
    }

.homepagegallerytitle
    {
        margin-left: 100px;
        margin-bottom: -65px;
        margin-top: 80px;
        font-size: 2vw;
    }








/*KYOTO DESTINATION PAGE */

/*history of kyoto*/
.kyotohistory
    {
        position: relative;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 130px;
        font-size: 1.3vw;
    }

.kyotohistoryimage
    {
        float: right;
        width: 30vw;
        height: 10vh;
        margin-left: 5vw;
        border-radius: 20px;
        object-fit:cover;
    }



/* discover your options /  things to do / grid hover*/
.grid-container 
    {
        display: grid;
        min-height: 900px;
        grid-template-columns: auto auto auto;
        background-color: #fff;
        background-size: cover;
        padding:30px;
        column-gap: 40px;
        row-gap: 0px;
        margin: auto;
        margin-left: 100px;
        margin-bottom: -150px;
       
    }

.grid-item 
    {
        border-radius: 25px;
        display: block;
        object-fit: cover;
        width:25vw;
        height: 10vh;
        position: center;
        transition: box-shadow .5s ease;
    }

.grid-item:hover 
    {
        box-shadow: 1px 1px 6px gray;
    }

.grid_image-wrap 
    {
        border-radius: 25px;
        display: inline-block;
        object-fit: cover;
        overflow:hidden;
        width:25vw;
        position:relative;
        transition: transform .5s ease;
    }

.grid_image-content 
    {
        position: absolute;
        bottom:8%;
        left:4%;
        text-shadow: 1px 1px 4px #000;
        color:#fff;
    }

.gridimage 
    {
        border-radius: 25px;
        display: inline-block;
        object-fit: cover;
        width:25vw;
        transition: filter 0.4s ease-in, transform .4s ease-in-out;
    }

.gridimage:hover 
    {
        filter:contrast(1.2) brightness(1) saturate(1) drop-shadow(1px 1px 6px gray);
        -webkit-filter:contrast(1.2) brightness(1) saturate(1) drop-shadow(1px 1px 6px gray);
        transform: scale(1.07);
        transition: filter 0.4 ease-in, transform .4s ease-in-out;
    }

.gridsubtitle 
    {
        font-family: lemonde-journal, sans-serif;
        font-size: 26px;
        font-weight: bold;
        margin-top: 40px;
        margin-left: 150px;
        padding: 0px;
        margin-left: 5vw;
    }

.gridtitle
    {
        color: #000;
        text-decoration: none;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-top: 10px; 
    }


    .grid-container2
    {
        margin-top: -150px;
        display: grid;
        min-height: 900px;
        grid-template-columns: auto auto auto;
        background-color: #fff;
        background-size: cover;
        padding:30px;
        column-gap: 40px;
        row-gap: 0px;
        margin: auto;
        margin-left: 100px;
        margin-bottom: -150px;   
    }

.grid-container3
    {
        margin-top: -150px;
        display: grid;
        min-height: 900px;
        grid-template-columns: auto auto auto;
        background-color: #fff;
        background-size: cover;
        padding:30px;
        column-gap: 40px;
        row-gap: 0px;
        margin: auto;
        margin-left: 100px;
    }

    
.gridimage 
    {
        border-radius: 25px;
        display: inline-block;
        object-fit: cover;
        width:25vw;
        height: 260px;
        transition: filter 0.4s ease-in, transform .4s ease-in-out;
    }
    
.gridimage:hover 
    {
        filter:contrast(1.2) brightness(1) saturate(1) drop-shadow(1px 1px 6px gray);
        -webkit-filter:contrast(1.2) brightness(1) saturate(1) drop-shadow(1px 1px 6px gray);
        transform: scale(1.07);
        transition: filter 0.4 ease-in, transform .4s ease-in-out;
    }

.gridsubtitle 
    {
        position: relative;
        top: 50px;
        font-family: lemonde-journal, sans-serif;
        font-size: 26px;
        font-weight: bold;
        margin-top: 40px;
        margin-left: 130px;
        padding: 0px;
    }

.gridsubtitle2
    {
        position: relative;
        top: 50px;
        font-family: lemonde-journal, sans-serif;
        font-size: 26px;
        font-weight: bold;
        margin-top:60px;
        margin-left: 130px;
    }





/*Map*/
.kyotomapdiv
    {
        position: relative;
        margin-left: 100px;
        margin-right: 100px;
    }


.kyotomapcontainer
    {
        width: 45vw;
        height: 60vh;
        border: none;
        border-radius: 20px;
        margin-left: 20px;
        
    }

.kyotomaptitle
    {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        width: 100%;
    }

.kyotomapsub
    {
        font-size: 16px;
        margin-top: -10px;
        margin-bottom: 20px;
    }

.kyotomapdiv h1
    {
        margin-bottom: 30px;
    }




    


    
/*Footer*/
footer 
    {
        text-align: left;
        padding: 20px;
        background-color: #8ca8be;
        color: #fff;
    }

.footergridcontainer 
    {
        display: grid;
        min-height: 300px;
        grid-template-columns: auto auto auto auto;
        background-color: #8ca8be;
        background-size: cover;
        padding:40px;
        column-gap: 0px;
        width: 1000px;
        margin: auto;
    }

.footergridcol 
    {
        color: #fff;
        text-decoration: none;
    }

.footergridcol a 
    {
        color: #fff;
        text-decoration: none;
    }

/* search bar */

searchbar 
    {
        position:absolute;
    }

.searchbar input[type=text]
    {
        width: 150px;
        height: 28px;
        bottom: 9px; /* add this */
        right: 180px; /* add this */
        position: absolute; /* add this */
        background-color: #edede9;
        border: 0px;
        border-radius: 20px;
        font-family: proxima-nova;
        padding-left: 13px;
    }

.footertext a 
    {
        color: #fff;
        transition: ease;
        -o-transition:.3s;
        -ms-transition:.3s;
        -moz-transition:.3s;
        -webkit-transition:.3s;
    }

.footertext a:hover 
    {
        -o-transition:.3s;
        -ms-transition:.3s;
        -moz-transition:.3s;
        -webkit-transition:.3s;
        color: #000!important;
    }


/*Subscribe */
.subscribediv
    {
        margin-left: auto;
        text-decoration: none;
        color: black;
        padding-right: 40px;
    }

.subscribeemail
    {
        width:100%;
        padding:12px;
        border:0px;
        border-radius:20px;
        margin-top: -25px;
    }





/*Header*/
.homepagecontainer 
    {
        position: relative;
        text-align: center;
        color: #BC002D;
        height: 650px;
        width: 100vw;
    }

.homepageimage
    {
        height: 80vh;
        width: 100%;
        object-fit: cover;
    }

.homepagetitle 
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6vw;
        font-weight: bold;
        font-family: lemonde-journal, sans-serif;
        z-index: 1;
        color: #BC002D;
    }
    
.homepagesubheading 
    {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.8vw;
        z-index: 1;
        color: #BC002D;
        border-radius: 10px;
    }


    

/*Why / your next adventure awaits*/
.homepagewhy 
    {
        overflow: visible;
        position: relative;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 150px;
        font-size: 1.3vw;
    }
    
.homepagewhyimage 
    {
        float: right;
        width: 30vw;
        height: 60vh;
        border-radius: 20px;
        object-fit: cover;
        margin-left: 1vw;
    }

.homepagewhytext
    {
        float:left;
        margin: auto;
        width: 60%;
    }








/*KYOTO DESTINATION PAGE */

/*header*/
. 
    {
        position: relative;
        text-align: left;
        color: #fff;
        height: 70vh;
        width: 100vw;
    }

.kyotoimage
    {
        height: 80vh;
        width: 100%;
        object-fit: cover;
    }

.kyototitle
    {
        position:absolute;
        top:60%;
        left:3%;
        font-size: 6vw;
        font-weight: bold;
        font-family: lemonde-journal, sans-serif;
        color: #BC002D;
    }

.kyotosubheading
    {
        position: absolute;
        top: 80%;
        left: 3%;
        right:30%;
        font-size: 1.8vw;
        color: #BC002D;
    }



/*history*/
.kyotohistory
    {
        overflow: visible;
        position: relative;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 150px;
        font-size: 1.3vw;
    }


.kyotohistoryimage
    {
        float: right;
        width: 30vw;
        height: 100vh;
        margin-left: 5vw;
        border-radius: 20px;
        object-fit: cover;
    }



/*Map*/
.kyotomapdiv
    {
        overflow: hidden;
        position: relative;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 130px;
        margin-bottom: 200px;
    }

.kyotomapcontainer
    {
        width: 45vw;
        height: 60vh;
        border: none;
        border-radius: 20px;
        margin-left: 20px;
    }

.kyotomaptitle
    {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        width: 100%;
    }

.kyotomapsub
    {
        font-size: 20px;
        margin-bottom: 20px;
        margin-right: 55%;
    }

.kyotomapdiv h1
    {
        margin-bottom: 30px;
    }






/*emans transportation*/
/*table*/
#transtable 
    {
        position:center;
        margin:auto;
        padding:10px;
        overflow: hidden;
        object-fit: cover;
    }
    
#transimage 
    {
        width:25vw;
        height: 260px;
        overflow: hidden;
        object-fit:cover;
        border-radius:40px;
        padding-left:25px;
        padding-right:25px;
        padding-top:20px;
        padding-bottom:20px;
        transition: filter 0.4s ease-in, transform .4s ease-in-out;
    }

#transimage a 
    {
    overflow: hidden;
    width:25vw;
    height: 260px;
    object-fit: cover;
    }

#transimage:hover 
    {
        filter:contrast(1.2) brightness(1) saturate(1) drop-shadow(1px 1px 6px gray);
        -webkit-filter:contrast(1.2) brightness(1) saturate(1) drop-shadow(1px 1px 6px gray);
        transform: scale(1.07);
        transition: filter 0.4 ease-in, transform .4s ease-in-out;
    }
    
table img:hover 
    {
        filter:contrast(1.2) brightness(1) saturate(1) drop-shadow(1px 1px 6px gray);
        -webkit-filter:contrast(1.2) brightness(1) saturate(1) drop-shadow(1px 1px 6px gray);
        transform: scale(1.07);
        transition: filter 0.4 ease-in, transform .4s ease-in-out;
    }

#transheader 
    {
        margin-left:25px;
        margin-bottom:-1px;
        margin-top:-15px;
        font-family:lemonde-journal,sans-serif;
        font-size: 22px;
    }

#transh1 
    {
        font-family:lemonde-journal,sans-serif;
        margin-left:-10px;
    }

#transparagraph 
    {
        margin-left:25px;
        width:23vw;
        font-size:11px;
        font-weight:lighter;
        color:#585858;
        padding-bottom:25px;
    }




/*jaillines articles*/
.ast 
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        font-family: lemonde-journal, sans-serif;
        z-index: 1;
        color: #fff;
        text-shadow: 1px 1px 2px black, 0 0 2em grey, 0 0 0.2em grey;
        text-decoration: none;
    }

.ast a
    {
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        font-family: lemonde-journal, sans-serif;
        color: #fff;
        text-shadow: 1px 1px 2px black, 0 0 2em grey, 0 0 0.2em grey;
        -o-transition:.3s;
        -ms-transition:.3s;
        -moz-transition:.3s;
        -webkit-transition:.3s;
    }

.ast a:hover
    {
        text-decoration: none;
        color: #eee;
        text-shadow: 1px 1px 2px black, 0 0 2em grey, 0 0 0.2em grey;
    }
    
.acap 
    {
        position: absolute;
        top: 60%;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        font-size: 1.6vw;
        z-index: 1;
        color: #fff;
        border-radius: 10px;
        text-shadow: 1px 1px 2px black, 0 0 2em grey, 0 0 0.2em grey;
    }

.agridtitle
    {
        font-family: Lemonde-journal;
        color: #000;
        text-decoration: none;
        text-align: left;
        padding-left: 10px;
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px; 
    }

.agrid-container 
    {
        display: grid;
        min-height: 1400px;
        grid-template-columns: auto auto auto;
        background-color: #fff;
        background-size: cover;
        padding:30px;
        column-gap: 40px;
        row-gap: 0px;
        margin: auto;
        margin-left: 100px;
    }

    /* more news section */

.mngridcontainer {
    display: grid;
    min-height: 900px;
    grid-template-columns: auto auto;
    background-color: #fff;
    background-size: cover;
    padding:40px;
    column-gap: 0px;
    row-gap: 0px;
    width: 1500px;
    margin: auto;
}

.mngridcol {
    color: #000;
    padding: 30px;
    margin: auto;
    position: center;
    border-radius: 25px;
    display: block;
    object-fit: cover;
    width:620px;
    height:340px;
}

.mngridcol a {
    color: #fff;
}

.mn_image-wrap {
    border-radius: 25px;
    display: inline-block;
    object-fit: cover;
    overflow:hidden;
    width:620px;
    height:340px;
    position:relative;
    transition: transform .5s ease;
}

.mntitle {
    font-family: lemonde-journal;
    font-size: 25px;
    font-weight: bold;    
}

.mntitle a {
    color: #000;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

.mntitle a:hover {
    color: #8ca8be;
}

.mncaption {
    font-family: proxima-nova;
}

.mnimage {
    width:620px;
    height:340px;
    border-radius: 25px;
    display: inline-block;
    object-fit: cover;
    transition: filter 0.6s ease-in, transform .5s ease-in-out;
}

.mnimage:hover {
    filter: contrast(1.2) brightness(1) saturate(1);
    -webkit-filter: sepia(0%)  contrast(1.2) brightness(1) saturate(1);
    transform: scale(1.07);
    transition: filter 0.6 ease-in, transform .6s ease-in-out;
}

#author {
    margin-top: 10px;
    font-family: proxima-nova;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    padding-left: 10px;
}